h1 {

    text-align: center;
    
}

#calculator {

    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-box {

    height: 60vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    border: solid 3px;
    border-radius: 8px;

} 

.display {

    font-size: 4vh;
    height: 100px;
    margin: 15px;
    margin-bottom: 20px;
    padding-right: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    border: solid 1px;
    border-radius: 5px;
}

.buttons {

    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

button {

    font-size: 4vh;

}

#b0 {

    grid-column-start: 1;
    grid-column-end: 3;

}



