h1 {

    text-align: center;
    
}

#calculator {

    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.display {

    height: 5rem;
    border: solid 1px;
    margin: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.main-box {

    height: 60vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    border: solid;

} 

.buttons {

    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

#b0 {

    grid-column-start: 1;
    grid-column-end: 3;

}



